@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color:-webkit-linear-gradient(top,#75d3ff,#fda32d);
    --primary-darker:-webkit-linear-gradient(top,#116992,#e69224);
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    outline: 0;
}

/* reset do css padrão */
body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);  
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    border-radius: 20px;
    max-width: 640px;
    margin: 30px auto;
    background: -webkit-repeating-linear-gradient(top,#fda32d,#75d3ff);
    padding: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 18px;
    height: 30px;
    padding: 0 10 px;
    border: none;
    border-radius: 10px;
}

form input:focus {
    border: solid 1px black;
    border-radius: 10px;
}

form button {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-attachment: #fff;
    color: rgb(7, 4, 4);
    font-size: 18px;
    height: 50px;
    cursor: pointer;
}

form button:hover {
    background: rgb(236, 227, 227);
}